<div class="row">
    <div class="col-lg-9">
        <div class="card">
            <div>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <!-- normal -->
                        <div class="ih-item circle effect6 scale_up text-center">
                            <a href="/#/houserent">
                                <div class="img"><img src="./assets/images/rent.png" alt="img"></div>
                                <div class="info">
                                    <h3>Pay House Rent</h3>
                                    <p>Click here to Pay House Rent1</p>
                                </div>
                            </a>
                        </div>
                        <section>Pay
                            <span class="darkcolor">House Rent</span>
                        </section>
                        <!-- end normal -->
                    </div>
                    <div class="col-sm-4 text-center">
                        <!-- normal -->
                        <div class="ih-item circle effect6 scale_up">
                            <a href="/#/schoolfee">
                                <div class="img"><img src="./assets/images/school.png" alt="img"></div>
                                <div class="info">
                                    <h3>Pay School Fee</h3>
                                    <p>Click here to Pay School Fee</p>
                                </div>
                            </a>
                        </div>
                        <section>Pay
                            <span class="darkcolor">School Fee</span>
                        </section>
                        <!-- end normal -->
                    </div>
                    <div class="col-sm-4 text-center">
                        <!-- normal -->
                        <div class="ih-item circle effect6 scale_up">
                            <a href="/#/collegefee">
                                <div class="img"><img src="./assets/images/college.png" alt="img"></div>
                                <div class="info">
                                    <h3>Pay College Fee</h3>
                                    <p>Click here to Pay College Fee</p>
                                </div>
                            </a>
                        </div>
                        <section>Pay
                            <span class="darkcolor">College Fee</span>
                        </section>
                        <!-- end normal -->
                    </div>
                </div>
                <span class="hidden-xs"><br></span>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <!-- normal -->
                        <div class="ih-item circle effect6 scale_up">
                            <a href="/#/maintenance">
                                <div class="img"><img src="./assets/images/maintenance.png" alt="img"></div>
                                <div class="info">
                                    <h3>Pay Maintenance</h3>
                                    <p>Click here to Pay Maintenance</p>
                                </div>
                            </a>
                        </div>
                        <section>Pay
                            <span class="darkcolor">Maintenance</span>
                        </section>
                        <!-- end normal -->
                    </div>
                    <div class="col-sm-4 text-center">
                        <!-- normal -->
                        <div class="ih-item circle effect6 scale_up">
                            <a href="/#/sendtobank">
                                <div class="img"><img src="./assets/images/bank.png" alt="img"></div>
                                <div class="info">
                                    <h3>Send to Bank</h3>
                                    <p>Click here to Send Money to Bank</p>
                                </div>
                            </a>
                        </div>
                        <section>Send to
                            <span class="darkcolor">Bank</span>
                        </section>
                        <!-- end normal -->
                    </div>
                    <div class="col-sm-4 text-center">
                        <!-- normal -->
                        <div class="ih-item circle effect6 scale_up">
                            <a href="/#/requestloan">
                                <div class="img"><img src="./assets/images/loan.png" alt="img"></div>
                                <div class="info">
                                    <h3>Request Loan</h3>
                                    <p>Click here to Apply for Loans</p>
                                </div>
                            </a>
                        </div>
                        <section>Request
                            <span class="darkcolor">Loan</span>
                        </section>
                        <!-- end normal -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3 text-center req-pay-panel">
        <img src="./assets/images/Req-pay-icon.png" alt="Request payment icon" />
        <h1>
            <span class="orange">Request Payments</span>
        </h1>
        <section style="font-size:120%; font-weight:300"><br>Update your Bank Account Details to Request Payments <br><br>
            <a href="/#/requestpayments" class="hvr-ripple-out click-btn" style="color:#fff">Click Here</a></section>
    </div>


</div>