<div *ngIf="UserStatus==1 && IsMenuActive==1" class="row" style="text-align:center">
    You have not verified your pancard document. Please upload it here <a [routerLink]="['/profile']" class="btn btn-danger">Upload KYC </a>
</div>
<div *ngIf="IsMenuActive==1">
    <!-- Your Content goes Here -->
    <div>
        <div class="form-group">
            <div>
                <label class="pull-left"><h3 style="line-height: 0.1;padding-right: 20px;"><span class="orange"><b>Request Loan</b></span></h3></label><br><br>
            </div>
        </div>
    </div>
    <div style="padding:5%;background:rgba(255,255,255,0.9)">
        <div class="pull-right text-center hidden-xs"><img src="./assets/images/loan.jpg" class="img-circle" style="width:150px; border:7px solid #e16029" /></div>
        <form #RequestLoan="ngForm">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 bdr-rgt">
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Name" name="user_name" #userName="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="userName.errors && userName.touched" style="color:red">
                            <span [hidden]="!userName.errors['required']">Please enter your name</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Mail ID" name="mail_id" #mailId="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="mailId.errors && mailId.touched" style="color:red">
                            <span [hidden]="!mailId.errors['required']">Please enter your mail id</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Phone Number" name="phone_number" #phoneNumber="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="phoneNumber.errors && phoneNumber.touched" style="color:red">
                            <span [hidden]="!phoneNumber.errors['required']">Please enter your phone number</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="House / Door / Flat #" name="house_no" #houseNum="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="houseNum.errors && houseNum.touched" style="color:red">
                            <span [hidden]="!houseNum.errors['required']">Please enter your house number</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Locality" name="locality" #locality="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="locality.errors && locality.touched" style="color:red">
                            <span [hidden]="!locality.errors['required']">Please enter your locality</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Area" name="area" #area="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="area.errors && area.touched" style="color:red">
                            <span [hidden]="!area.errors['required']">Please enter your area</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="City" name="city" #city="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="city.errors && city.touched" style="color:red">
                            <span [hidden]="!city.errors['required']">Please enter your city</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Pincode" name="pinCode" #pinCode="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="pinCode.errors && pinCode.touched" style="color:red">
                            <span [hidden]="!pinCode.errors['required']">Please enter pin code</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="State" name="state" #state="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="state.errors && state.touched" style="color:red">
                            <span [hidden]="!state.errors['required']">Please enter state</span>
                        </div>
                    </section>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Pancard #" #panCard="ngModel" name="pan_card" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="panCard.errors && panCard.touched" style="color:red">
                            <span [hidden]="!panCard.errors['required']">Please enter pan card</span>
                        </div>
                    </section>
                </div>

                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Date of Birth - Place Calender here" #dob="ngModel" name="dob" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="dob.errors && dob.touched" style="color:red">
                            <span [hidden]="!dob.errors['required']">Please enter your date of birth</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Martial Status" name="marital_status" #maritalStatus="ngModel" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="maritalStatus.errors && maritalStatus.touched" style="color:red">
                            <span [hidden]="!maritalStatus.errors['required']">Please enter your marital status</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Occupation" name="occupation" #occupation="ngModel" ngModel required>
                        <span class="focus-border"></span>
                         <div *ngIf="occupation.errors && occupation.touched" style="color:red">
                            <span [hidden]="!occupation.errors['required']">Please enter your occupation</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Education Qualification" #education="ngModel" name="education" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="education.errors && education.touched" style="color:red">
                            <span [hidden]="!education.errors['required']">Please enter education qualification</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Monthly Take home Salary" #salary="ngModel" name="salary" ngModel required>
                        <span class="focus-border"></span>
                         <div *ngIf="salary.errors && salary.touched" style="color:red">
                            <span [hidden]="!salary.errors['required']">Please enter your monthly take home salary</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Desired Loan Amount" #desiredLoan="ngModel" name="desired_loan" ngModel required>
                        <span class="focus-border"></span>
                         <div *ngIf="desiredLoan.errors && desiredLoan.touched" style="color:red">
                            <span [hidden]="!desiredLoan.errors['required']">Please enter desired loan amount</span>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section>
                        <input class="effect-2" type="text" placeholder="Tenure" #tenure="ngModel" name="tenure" ngModel required>
                        <span class="focus-border"></span>
                        <div *ngIf="tenure.errors && tenure.touched" style="color:red">
                            <span [hidden]="!tenure.errors['required']">Please enter loan tenure</span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        </form>
        <div class="clearfix"></div>
        <div class="row text-center">
            <button type="button" [disabled]="!RequestLoan.form.valid || Disabled" class="btn btn-success custom-button" data-toggle="modal"  data-target="#acknowledgement" (click)="SendLoanRequest(RequestLoan)">Send Request</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="acknowledgement" role="dialog" *ngIf="StoreLoanRequestRes.status==1">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body text-center" style="padding:50px">
                        <h4>Your request is succesful. <br><br>
                            <span class="orange">We have sent you confirmation on your registered Mail Id and Mobile Number. </span>
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Thank you</button>
                    </div>
                </div>

            </div>
        </div>


        <!-- Your Content Ends Here -->

    </div>
</div>
<div *ngIf="IsMenuActive==0" class="row" style="text-align:center">
   <span style="font-size:25px; "><b> This service is temporarily disabled... Please try after some time</b></span>
</div>