<div *ngIf="UserStatus==1" class="row" style="text-align:center">
    You have not verified your pancard document. Please upload it here <a [routerLink]="['/profile']" class="btn btn-danger">Upload KYC </a>
</div>
 <div style="background:url(./assets/images/pwd-bg.jpg) no-repeat; height:550px;background-size: cover">
              <!-- Your Content goes Here -->
              <div>
              <div>
                   <div class="form-group">                        
                      <div>
                          <label class="pull-left"><h3 style="line-height: 0.1;padding-right: 20px;"><span class="orange"><b>Change Password</b></span></h3></label><br><br>
                      </div>
                   </div>
              </div>
              <div>
                  <div class="row text-center">
                    <form #changePassword="ngForm">
                      <div class="col-md-4 col-md-offset-4" style="padding:2%;background:rgba(255,255,255,0.9)">
                          <div class="col-xs-12">
                            <section>
                               <input class="effect-2" type="text" placeholder="Change Password" #changedpassword="ngModel" required ngModel name="changed_passoword">
                                <!--<span class="focus-border"></span>-->
                                <div *ngIf="changedpassword.errors && changedpassword.touched" style="color:red">
                                  <span [hidden]="!changedpassword.errors['required']">Please enter password</span>
                                </div>
                            </section>
                          </div>
                          <div class="col-xs-12">
                              <section>
                                 <input class="effect-2" type="password" placeholder="Confirm Password" #confirmPassowrd="ngModel" name="confirm_passowrd" ngModel required>
                                  <!--<span class="focus-border"></span>-->
                                   <div *ngIf="confirmPassowrd.errors && confirmPassowrd.touched" style="color:red">
                                    <span [hidden]="!confirmPassowrd.errors['required']">Please enter confirm password</span>
                                    <span [hidden]="(confirmPassowrd.value==changedpassword.value)">Please enter confirm password</span>
                                  </div>
                              </section>
                          </div>
                          <button type="button" class="btn btn-success custom-button" [disabled]="!changePassword.form.valid">Confirm</button>
                      </div>  
                    </form>               
                  </div>
              </div>   
              <!-- Your Content Ends Here -->  
        </div>
    </div>