<div class="page-title">
    <div class="container-fluid">
        <div class="row">
            <div class="bs-component">
                <ul class="nav nav-pills" style="padding:10px 0">
                    <li><a [routerLink]="['houserent']">House Rent </a></li>
                    <li><a [routerLink]="['schoolfee']">School Fee </a></li>
                    <li><a [routerLink]="['collegefee']">College Fee </a></li>
                    <li><a [routerLink]="['maintenance']">Maintenance </a></li>
                    <li><a [routerLink]="['sendtobank']">Send to Bank </a></li>
                    <li><a [routerLink]="['requestpayments']" class="btn custom-btn">Request Payments</a></li>
                    <li><a [routerLink]="['requestloan']" class="btn custom-btn1"> Request Loan</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>